@font-face {
  font-family: 'Karla';
  src: url(/src/assets/fonts/Karla-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url(/src/assets/fonts/Karla-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}