* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}
a {
    text-decoration: underline;
    color: rgb(76,119,255);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.suavization-animation {
    animation: suavization 0.2s ease-in;
}

.not-found-message {
    margin-top: 50px;
    font-size: 34px;
    color: rgba(0, 0, 0, 0.5);
}

@keyframes suavization {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
